 <div class="menu">
  <nav>
    <ul>
      <li (click)="goToPage(value)" (mouseover)="changeSlider(i)"
       [class.active]="currentIndex === i"       
       *ngFor="let value of menuList; let i = index">
        <div class="counterMenu">0{{i + 1}}</div>
        {{value}}
        <div class="boxDecoration"></div>
      </li>
    </ul>
  </nav>
</div>