<div class="containerSlider">
    <ul class="slider">
      <li class="slide"
       *ngFor="let value of slides; let i = index" 
       [class.in]="currentIndex === i" [class.out]="oldIndex === i">
          <img src="{{value}}" alt="images1" />
      </li>
    </ul>
</div>