@import "effect-scroll.scss";
@import "menu.scss";
@import "sub-page.scss";
@import "other-page.scss";

body{
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  background-color: ('24,36,77');
  overflow-y:hidden;
  color: #404040;
  @media screen and (max-width: 1200px) {
    overflow-y:auto;
  }
}
div.mainPage.white{
    a.link{
      color: #fff;
      &:hover:after{
        background: #fff;
      }
    }
}
a:hover,a:focus{
  color: inherit;
  text-decoration: none;
}
ul{
  padding:0;
  padding-left:15px;
  @media screen and (max-width: 1200px) {
    padding-left:0px;
  }
}
li{
  list-style: none;
}
div.logo{
  margin-left:3vw;
  margin-top:4.5vh;
}
div.scroll{
  width:100%;
  position:absolute;
  margin-top:20px;
  text-align:center;
  bottom: 5vh;
  img{
    margin:0 auto;
    max-height:40px;
  }
}
a.link{
  font-size: 2vh;
  position:fixed;
  color: #404040;
  transition: all 0.3s linear;
  display: inline-block; 
  right: 3.2vw;
  z-index:10000;
  opacity:1;
  cursor:pointer;
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  &:hover:after {
    width: 100%;
    background: #404040;
  }
}
a.about{
  top:7vh;
}
a.contact{
  bottom: 5.2vh;
}
div.overflowBackground{
  position:fixed;
  top:0;
  height:100vh;
  width:100vw;
  z-index:-1;
  background:transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
