li.slide{
  position: absolute;
  overflow: visible;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) skewY(5deg) translateY(100%);
  transform: translateX(-50%) skewY(5deg) translateY(100%);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  &.in{
     -webkit-transition: all 800ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 800ms cubic-bezier(.19,1,.22,1) 0ms;
    -webkit-transform: translateX(-50%) skewY(0deg) translateY(-50%);
    transform: translateX(-50%) skewY(0deg) translateY(-50%);
    opacity: 0.8;
  } 
  &.out{
 -webkit-transition: all 800ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 800ms cubic-bezier(.19,1,.22,1) 0ms;

    -webkit-transform: translateX(-50%) skewY(-5deg) translateY(-100%);
    transform: translateX(-50%) skewY(-5deg) translateY(-100%);
    opacity: 0;
  }
  img{
    max-width: 56vw;
    max-height: 66vh;
    margin:0 auto;
    opacity:0.8;
    @media screen and (max-width: 768px) {
      max-width:none;
      max-height:100vh;
      margin-left: -40vw;
    }
  }
  @media screen and (max-width: 768px) {
    max-width:100%;
    overflow:hidden;
  }
}
div.menu{
  position:absolute;
  bottom:18vh;
  left:8.5vw;
  li{
    color: #cdcdcd;
    font-size:6vh;
    line-height:1.2;
    margin-bottom:5px;
    transition: all 0.3s linear;
    &:hover,&.active{
      color: #404040;
      cursor:pointer;
    }
    &:hover:before, &.active:before{
       content: ' ';
       background: #cdcdcd;
       height:6vh;
       width:12.5vw;
       position:absolute;
       left:-12.5vw;
       margin-top:4px;
       -webkit-animation-name: effect-hover;
        -webkit-animation-duration: 0.3s; 
        animation-name: effect-hover;
        animation-duration: 0.3s;
    }
    div.boxDecoration{
      width:10px;
      height:6vh;
      background: #404040;
      display:none;
      vertical-align: top;
      margin-top:4px;
      transition: all 0.3s linear;
    }
    &:hover div.boxDecoration, &.active div.boxDecoration{
      display:inline-block;
    }
    div.counterMenu{
      font-size: 14px;
      margin-left: -25px;
      margin-top: -5px;
      position: absolute;
    }
  }
}
@-webkit-keyframes effect-hover {
    0%   {width:0px;}
    100% {width:12.5vw}
}
div.containerSlider{
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:100%;
}

