div.otherPage{
  background: #000;
  color: #fff;
  width:100vw;
  height:100vh;
  position:absolute;
  opacity:0.9;
  top:0;
  display:none;
  z-index:10;
  &.active{
    display:block;
  }
  h1{
    color: #fff;
    margin-top:40vh;
    margin-left:10.5vw;
    margin-bottom:8vh;
    font-weight:400;
    @media screen and (max-width: 768px) {
      margin:20px !important;
    }
  }
  &.about{
    h1{
      //margin-top:30vh;
      margin-bottom:3vh;
    }
    div.containerAbout{
      max-width:49vw;
      margin-left:25vw;
      @media screen and (max-width: 768px) {
        max-width:none;
        margin:0 20px;
      }
      p{
        margin:0;
        font-size:16px;
        @media screen and (max-width: 768px) {
          font-size:13px;
        }
      }
    }
  }
  div.containerContact{
    display:inline-block;
    vertical-align: middle;
    label,p{
      margin:0;
      font-size:16px;
      font-family: 'Roboto', sans-serif;
      @media screen and (max-width: 768px) {
        font-size:13px;
      }
    }
  }
  div.leftContact{
    margin-left:30vw;
    margin-right:3vw;
    @media screen and (max-width: 768px) {
      margin:10px 0 0 40px;
    }
    label,p{
      display:inline-block;  
    }
    label{
      width:4vw;
       @media screen and (max-width: 768px) {
        width:50px;
      }
    }
  }
  div.rightContact{
    border-left:1px solid #fff;
    padding-left:2.1vw;
    @media screen and (max-width: 768px) {
      padding:0;  
      border-left:0;
      margin-left:40px;
      margin-top:30px;
    }
  }
}
div.logoOther{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  text-align:center;
  bottom:9vh;
  p{
    display:inline-block; 
    vertical-align: top;
    margin-left:18vw;
    position:absolute;
    margin-top:7px;
    font-size:13px;
     @media screen and (max-width: 768px) {
       width:100%;
       margin:10px auto;
       display:block;
     }
  }  
}
span.medium{
 font-weight: 500 !important;
}