img.img-subpage{
  max-width: 90vw;
  margin:0 auto 12vh;
  display: block;
  @media screen and (max-width: 768px) {
    margin:0 auto 20px;
  }
}
div.offer{
  li{
    position:relative;
    transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    & img{
      transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    }
    & img.activeUp{
      transform: skewY(-1.5deg);
    }
    & img.activeDown{
      transform: skewY(1.5deg);
    }
  }
}
div.container-text{
  margin:0 3vw;
  padding:30px 0px;
}
div.scrollbar{
  position: fixed;
  width: 100%;
  height: 5px;
  left: 0;
  top: 0;
  z-index: 1;
}
div.line{
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgb(40, 38, 39);
  transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 6vh;
    line-height: 1.2;
    margin-bottom: 5px;
}
div.overview{
  position:fixed;
  z-index:200;
  background: #404040;
  height:100%;
  width:100%;
  top:-101vh;
  -webkit-animation-name: effect-overwiew;
  -webkit-animation-duration: 0.5s; 
  animation-name: effect-overwiew;
  animation-duration: 0.5s;
  &.overviewOtherPage{
    display:none;
    &.active{
      display:block;
    }
  }
}
@-webkit-keyframes effect-overwiew {
    0%   {top:0;}
    100% {top:-101vh;}
}
div.logoSubPage{
  position:relative;
  z-index:150;
}
a.clickNextPage{
  position:fixed;
  bottom:5vh;
  left:0;
  right:0;
  margin:0 auto;
  max-width:240px;
  text-align: center;
  cursor:pointer;
  &.link{
    opacity:0;
     -webkit-transition: opacity 0.2s ease-in;
     -moz-transition: opacity 0.2s ease-in;
     -ms-transition: opacity 0.2s ease-in;
     -o-transition: opacity 0.2s ease-in;
     transition: opacity 0.2s ease-in;
  }
  &.link.active{
    opacity:1;
  }
  
}