<div [class.active]="active" style="color:#000;" class="overview overviewOtherPage"></div>
<div [class.active]="active" class="otherPage">
    <div>
        <h1>contact<br/>me</h1>
        <div class="contact">
            <div class="leftContact containerContact">
                <div class="itemContact">
                    <label><strong>phone</strong></label>
                    <p>0617388333</p>
                </div> 
                <div class="itemContact">
                    <label><strong>mail</strong></label>
                    <p>bartdesignandservices@gmail.com</p>
                </div>     
            </div>
            <div class="rightContact containerContact">
                <p>Koolzaaderf 7</p>
                <p>1112 jr</p>
                <p>Diemen, <strong>Netherlands</strong></p>
            </div>
        </div>
    </div>
    <div class="logoOther">
        <img src="assets/images/bart-other.png" alt="Bart - logo" />
        <p>(press esc for exit)</p>
    </div>    
</div>    