<about-page [active]="activeAbout" ></about-page>
<contact-page [active]="activeContact" ></contact-page>
<div [style.background-color]="setColor()" class="overview"></div>
<div class="scrollbar">
  <div [style.background-color]="setColor()" [style.width]="getElementScroll()" class="line"></div>
</div>
<div class="logo logoSubPage">
      <a href="/"><img src="assets/images/logo.png" alt="Bart - logo" /></a>
</div>
<a class="link about" (click)="fadeInPage('about')">about</a>
<a class="link contact" (click)="fadeInPage('contact')">contact</a>