<div class="overflowBackground"></div>
  <div [class.white]="classWhite" class="mainPage">
    <div class="logo">
          <img src="{{logo}}" alt="Bart - logo" />
    </div>
    <a class="link about" (click)="fadeInPage('about')">about</a>
    <a class="link contact" (click)="fadeInPage('contact')">contact</a>
    <slider></slider>
    
    <div class="scroll">
      <img class="img-responsive hvr-wobble-vertical" src="assets/images/scroll.png" alt="Scroll" />
    </div>
    <main-menu [menuList]="menuStructure" ></main-menu>
  </div> 
  <about-page [active]="activeAbout" ></about-page>
  <contact-page [active]="activeContact" ></contact-page>