<div class="offer">
  <ul>
    <li [style.top]="getElementScroll()" *ngFor="let value of images; let i = index" >
      <img [class.activeUp]="scrollEffect === 1" [class.activeDown]="scrollEffect === 2" class="img-subpage" src="{{value}}"/>
    </li>
  </ul>
</div>

